Coursera_Capstone - For Applied Data Science Specialization

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# Data Description

The data has 221145 rows and 37 attributes including Location, Severity Code, Vehicle Count, Injuries, Fatalities, Junction Type, Person Count, Weather, Road Condition etc.

Our analysis will be based on the collisions provided by SPD and recorded by Traffic Records. Our predictor or target variable will be 'SEVERITYCODE' because it is used to measure the severity of an accident from 0 to 5 within the dataset. Attributes used to weigh the severity of an accident are junction type, collision type, weather, road condition, light condition and speeding.

Lets look at the data and determine what we have.

In [9]:
df=pd.read_csv("https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv")
df.head()

/Library/Python/3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [10]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [23]:
df['SEVERITYCODE'].value_counts(dropna=False)

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

As there are 5 types of severity.
3-fatality
2b-serious injury
2-injury
1-property damage
0-unknown
It is concerning that the data provided only has severity types 1 and 2. This may severely impact the machine learning model and does not provide us with sufficient data to determine all the types of severity.

It has been determined that the above dataset is insufficient so we have went out and found a more updates data set from http://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv

In [24]:
df_data=pd.read_csv("http://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv")
df_data.head()

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.288688,47.532714,1,29800,29800,1177964,Unmatched,Block,NaN,BEACON ER AVE S BETWEEN S PORTLAND ST AND S CH...,...,NaN,NaN,NaN,4315006.0,NaN,NaN,NaN,0,0,N
1,NaN,NaN,2,115700,115700,10097005,Unmatched,NaN,NaN,NaN,...,NaN,NaN,NaN,10097005.0,NaN,NaN,NaN,0,0,N
2,-122.355556,47.727318,3,1358,1358,3568600,Matched,Block,NaN,GREENWOOD AVE N BETWEEN N 134TH ST AND N 136TH ST,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
3,-122.317563,47.618764,4,70700,70700,2806057,Matched,Block,NaN,E DENNY WAY BETWEEN 11TH AVE AND 12TH AVE,...,Dry,Other,NaN,7065007.0,NaN,32,One parked--one moving,0,0,N
4,-122.361015,47.538551,5,53600,53600,2127310,Matched,Block,NaN,DELRIDGE WAY SW BETWEEN SW MYRTLE ST AND SW OR...,...,Dry,Daylight,NaN,6137017.0,NaN,14,From same direction - both going straight - on...,0,0,N

In [25]:
df_data['SEVERITYCODE'].value_counts(dropna=False)

1      137414
2       58665
0       21619
2b       3096
3         349
NaN         1
Name: SEVERITYCODE, dtype: int64

We will be using the following features to determine the severity code:
COLLISIONTYPE
PERSONCOUNT
PEDCOUNT
PEDCYLCOUNT
VEHCOUNT
JUNCTIONTYPE

Data Preprocessing

In [26]:
df_data.dropna(subset=["SEVERITYCODE"], axis=0, inplace=True)
df_Analysis = df_data[['SEVERITYCODE', 'OBJECTID', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'SPEEDING', 'JUNCTIONTYPE', 'COLLISIONTYPE']]

In [27]:
df_Analysis.head()

,SEVERITYCODE,OBJECTID,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,JUNCTIONTYPE,COLLISIONTYPE
0,0,1,NaN,NaN,NaN,NaN,Mid-Block (not related to intersection),NaN
1,0,2,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,Overcast,Dry,Daylight,NaN,Mid-Block (not related to intersection),Left Turn
3,1,4,Clear,Dry,Other,NaN,Mid-Block (not related to intersection),Parked Car
4,1,5,Clear,Dry,Daylight,NaN,Mid-Block (but intersection related),Rear Ended

In [28]:
# Replace n/a with unknown
df_Analysis['WEATHER'].fillna('unknown', inplace=True)
df_Analysis['ROADCOND'].fillna('unknown', inplace=True)
df_Analysis['LIGHTCOND'].fillna('unknown', inplace=True)
df_Analysis['SPEEDING'].fillna('unknown', inplace=True)
df_Analysis['JUNCTIONTYPE'].fillna('unknown', inplace=True)
df_Analysis['COLLISIONTYPE'].fillna('unknown', inplace=True)

/Library/Python/3.7/site-packages/pandas/core/series.py:4523: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [29]:
# Update categorical data
df_Analysis = pd.concat([
    df_Analysis, 
    pd.get_dummies(df_Analysis['WEATHER']), 
    pd.get_dummies(df_Analysis['ROADCOND']), 
    pd.get_dummies(df_Analysis['LIGHTCOND']), 
    pd.get_dummies(df_Analysis['SPEEDING']),
    pd.get_dummies(df_Analysis['JUNCTIONTYPE']),
    pd.get_dummies(df_Analysis['COLLISIONTYPE'])
], axis=1)

In [30]:
df_Analysis.head()

,SEVERITYCODE,OBJECTID,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,JUNCTIONTYPE,COLLISIONTYPE,Blowing Sand/Dirt,Blowing Snow,...,Cycles,Head On,Left Turn,Other,Parked Car,Pedestrian,Rear Ended,Right Turn,Sideswipe,unknown
0,0,1,unknown,unknown,unknown,unknown,Mid-Block (not related to intersection),unknown,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,2,unknown,unknown,unknown,unknown,unknown,unknown,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,3,Overcast,Dry,Daylight,unknown,Mid-Block (not related to intersection),Left Turn,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,4,Clear,Dry,Other,unknown,Mid-Block (not related to intersection),Parked Car,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,5,Clear,Dry,Daylight,unknown,Mid-Block (but intersection related),Rear Ended,0,0,...,0,0,0,0,0,0,1,0,0,0